@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #8ecae6;
  color: #023047;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.logo {
  margin-right:auto;
  color: #000000;
  padding:7px;
}

.logo a {
  margin-right: auto;
  color: #ffc300;
  text-decoration: none;
  font-family:'Comfortaa', cursive;
  font-size: 2.25rem;
}

.navLinks{
  list-style-type: none;
}

.navLinks li{
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 0;
}

.imgLogo{
  height: 85%;

}
