.headtag div {
  display: inline-block;
  /* border: 1px solid #2c0d00; */
  padding: 0.25rem;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-out;
}

.headtag div:hover {
  background-color: #ffc300;
  color: black;
}

.headtag a {
  text-decoration: none;
  color: inherit;
  padding: 2rem;
}
